<h1>Questions:</h1>

<ul>
  {{#each question in model}}
    <li>{{question.question}}{{question.author}}</li>
  {{/each}}
</ul>

{{#link-to 'new-question' classNames="btn btn-primary"}}New question{{/link-to}}
